# Nix
.direnv/
result

# Exercism
.exercism/

# Haskell / Stack
.stack-work/
dist/
dist-newstyle/

# Haskell build artifacts
*.o
*.hi
*.iface
*.dyn_o
*.dyn_hi

# Haskell IDE
.hie/
.haskell-ide-engine/

# Cabal
cabal.project.local

# C++ / CMake
CMakeCache.txt
**/CMakeFiles/
Makefile
cmake_install.cmake
*.cmake
!CMakeLists.txt
a.out
*.exe
build/
*.o
*.obj
cpp/hello-world/hello-world
cpp/lasagna/lasagna

# OS
.DS_Store
Thumbs.db
cpp/pacman-rules/pacman-rules
